/**
* Classe toast : définition d'un toast
*/
.toast {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20px;
    left: 50%;
    border-radius: 5px;
}

.toast.warning {
    color: #fff;
    border: solid 1px rgb(0, 0, 0);
}
.toast.danger {
    /*background-color: rgba(231, 19, 19, 0.8);*/
    color: #fff;
    border: solid 1px rgba(0, 0, 0, 0);
}

.toast.danger p {
    background-color: rgba(231, 19, 19, 0.8);
}

.toast.warning p {
    background-color: rgba(19, 231, 54, 0.911);
}

#userMenuOptions.hidden {
    display: none;
}